
.idea/

UNet-collection/data-science-bowl-2018/

UNet-collection/lightning_logs/

UNet-collection/__pycache__/

UNet-collection/.ipynb_checkpoints/

Transformers/lightning_logs/

Transformers/.ipynb_checkpoints/

ResNet/.ipynb_checkpoints/

UNet-collection/Tests.ipynb
